/* The main containers for the module, specific to this module. */
.h5p-drag-text {
  position: relative;
  background: var(--ui-base);
  overflow: hidden;
}
.h5p-drag-text .h5p-drag-draggables-container
.h5p-drag-text .hidden {
  display: none;
}

.h5p-drag-text .h5p-drag-inner p {
  font-size: var(--font-size-m);
  font-weight: normal;
  padding: 0;
  margin: 0 0 var(--spacing-s);
}

.h5p-drag-text button.h5p-drag-button:before {
  font-family: 'H5PFontAwesome4';
  padding-right: var(--spacing-xxs);
}

/* Button icons */
.h5p-drag-text .h5p-drag-check-button:before {
  content: "\f058";
}
.h5p-drag-text .h5p-drag-retry-button:before {
  content: "\f021";
}
.h5p-drag-text .h5p-drag-show-solution-button:before {
  content: "\f06e";
}

/* Buttons starting state: */
.h5p-drag-text .h5p-drag-check-button {
  display: inline-block;
}
.h5p-drag-text .h5p-drag-retry-button {
  display: none;
}
.h5p-drag-text .h5p-drag-show-solution-button {
  display: none;
}



/* Tooltip styling */
.h5p-drag-text .joubel-tip-container {
  top: -1.1rem;
  right: -0.6rem;
  position: absolute;
  z-index: 4;
  font-size: var(--font-size-m);
}

/* Feedback icon */
.h5p-drag-text .h5p-drag-draggable-correct:after {
  display: inline-grid;
  align-items: center;
  font-family: 'h5p-theme';
  content: "\e903";
  color: var(--feedback-correct-main);
}

.h5p-drag-text .h5p-drag-draggable-wrong:after {
  display: inline-grid;
  align-items: center;
  font-family: 'h5p-theme';
  content: "\e902";
  color: var(--feedback-incorrect-main);
}

/* Dropzone styling */
.h5p-drag-text .h5p-drag-dropzone-container {
  position: relative;
  display: inline-flex;
  align-content: center;
  height: calc(var(--spacing-l) * 0.8 + 4px);
  padding-right: calc(var(--spacing-xxs)/5);
  margin: 0 var(--spacing-xxs) 4px;
  vertical-align: middle;
}
.h5p-drag-text [aria-dropeffect] {
  position:relative;
  display: flex;
  align-items: center;
  width: 10rem;
  height: calc(100% - 4px);
  border: solid 2px var(--alternative-dark);
  background-color: var(--alternative-dark);
  border-radius: var(--border-radius-medium);
  vertical-align: middle;
  text-align: center;
  margin: 0 var(--spacing-xxs);
  transition: all 0.1s linear 0s;
}

.h5p-drag-text [aria-dropeffect].h5p-drag-correct-feedback {
  background: var(--feedback-correct-secondary);
  border-color: var(--feedback-correct-third);
}

.h5p-drag-text [aria-dropeffect].h5p-drag-wrong-feedback {
  color: var(--feedback-incorrect-main);
  background-color: var(--feedback-incorrect-secondary);
  border-color: var(--feedback-incorrect-third);
}

.h5p-drag-text [aria-dropeffect]:before {
  line-height: 1.25;
}

/* Draggable styling */
.h5p-drag-text .h5p-drag-draggables-container {
  display: flex;
  position: relative;
  padding-top: var(--spacing-xxs);
  flex-wrap: wrap;
}

.h5p-drag-text .h5p-drag-draggables-container.hide {
  display: none;
}

.h5p-drag-text .ui-droppable-hover, .h5p-drag-task:has(.h5p-drag-draggables-container [aria-grabbed="true"]) .ui-droppable:hover{
  background-color: color-mix(in srgb, var(--main-cta-base), transparent 60%);
  border-style: dashed;
  border-color: var(--main-cta-dark);
  cursor: pointer;
}

.h5p-drag-text .h5p-hidden-read{
  opacity: 0;
}

.h5p-drag-text .ui-draggable-handle:not(.ui-draggable-disabled):before {
  font-family: 'h5p-theme';
  content: "\e90f";
  display: inline-flex;
  align-items: center;
  height: 100%;
  line-height: var(--spacing-l);
  color: var(--text-third);
  background-color: color-mix(in srgb, var(--alternative-dark), transparent 30%);
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--alternative-dark), transparent 30%);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.h5p-drag-text [aria-grabbed] {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-xxs) 0 0;
  margin: var(--spacing-xxs);
  vertical-align: top;
  text-align: center;
  line-height: var(--spacing-s);
  font-weight: bold;
  background: var(--alternative-base);
  border-radius: var(--border-radius-medium);
  box-shadow: 0px 1px 0em 0px var(--alternative-dark);
  z-index: 3;
  border: solid 2px var(--alternative-base);
  border-bottom-color: var(--alternative-dark);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.h5p-drag-text [aria-grabbed] span {
  display: inline-block;
  align-content: center;
  width: fit-content;
  margin: auto;
  color: var(--text-primary);
  padding: var(--spacing-xxs) var(--spacing-xs) var(--spacing-xxs) var(--spacing-xs);
  line-height: 1;
  font-size: var(--font-size-m);
}

.h5p-drag-text [aria-grabbed]:not(.ui-draggable-disabled) {
  cursor: pointer;
}

.h5p-drag-text [aria-grabbed='true'],
.h5p-drag-text [aria-grabbed].h5p-drag-dropped:not(.ui-draggable-disabled):hover,
.h5p-drag-text [aria-grabbed]:not(.ui-draggable-disabled):hover {
  color: var(--text-primary);
  background: var(--alternative-dark);
  border-color: var(--alternative-dark);
  box-shadow: 0px 3px 0.3em 0px var(--alternative-darker);
  border-color: var(--main-cta-base);
}

.h5p-drag-text [aria-grabbed='true'].ui-draggable-handle:before,
.h5p-drag-text [aria-grabbed].h5p-drag-dropped:not(.ui-draggable-disabled):hover:before,
.h5p-drag-text [aria-grabbed]:not(.ui-draggable-disabled):hover:before {
  color: var(--contrast-cta);
  background-color: var(--main-cta-base);
  box-shadow: none;
}

.h5p-drag-text [aria-grabbed].h5p-drag-dropped {
  width: 100%;
  margin: 0 -2px;
  white-space: nowrap;
  border: 2px solid var(--alternative-base);
 /* border-bottom-color:  var(--alternative-darker);*/
  border-color: var(--alternative-darker);
}

.h5p-drag-text [aria-grabbed='true'] {
  z-index: 5;
  box-shadow: 0 0 0.5em 0 var(--main-cta-base);
  border-color: var(--main-cta-base);
  background-color:  color-mix(in srgb, var(--main-cta-light), transparent 70%); 
}

.h5p-drag-text .h5p-drag-dropped.h5p-drag-draggable-correct {
  box-shadow: none;
  border: solid 2px var(--feedback-correct-third);
  color: var(--feedback-correct-main);
  background-color: var(--feedback-correct-secondary);
}

.h5p-drag-text .h5p-drag-dropped.h5p-drag-draggable-wrong {
  grid-template-columns: 1fr 5fr 1fr;
  box-shadow: none;
  border: solid 2px var(--feedback-incorrect-third);
  background-color: var(--feedback-incorrect-secondary);
}

.h5p-drag-text .h5p-drag-dropped.h5p-drag-draggable-wrong > span{
  color: var(--feedback-incorrect-main) !important;
}

.h5p-drag-text .h5p-drag-dropped.h5p-drag-draggable-correct > span{
  color: var(--feedback-correct-main) !important;
}

/* Show solution container */
.h5p-drag-text .h5p-drag-show-solution-container {
  position: relative;
  display: inline;
  line-height: var(--spacing-s);
}

.h5p-drag-text .h5p-drag-show-solution-container.incorrect {
  color: var(--feedback-correct-main);
  font-weight: bold;
  border: 2px var(--feedback-correct-main) dashed;
  background-color: var(--feedback-correct-secondary);
  padding: calc(var(--spacing-xs) / 2);
  border-radius: var(--border-radius-medium);
  margin-left: var(--spacing-xxs);
}

.h5p-drag-text .h5p-drag-droppable-words {
  line-height: var(--spacing-xl);
 /* background-color: var(--alternative-light);*/
  -webkit-background-size: 100% 20px;
  color: var(--text-secondary);
  background-size: 100% var(--spacing-xl);
  background-image: -moz-linear-gradient(transparent calc(var(--spacing-xl) - 1px), var(--alternative-base) 0px);
  background-image: -webkit-linear-gradient(transparent calc(var(--spacing-xl) - 1px), var(--alternative-base) 0);
}

.h5p-drag-text .h5p-drag-task {
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius-small);
}

.h5p-drag-text .h5p-drag-task.h5p-drag-wide-screen {
  display: flex;
  gap: var(--spacing-s);
}

.h5p-drag-text .h5p-drag-droppable-words-container {
  color: var(--text-primary);
  background-color: var(--alternative-light);
  color: var(--text-secondary);
  border: solid 1px var(--alternative-base);
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-s);
  font-weight: 500;
  width: auto;
}

/* Wide Screen css : */
.h5p-drag-text .h5p-drag-wide-screen .h5p-drag-droppable-words-container {
  width: 100%;
}

.h5p-drag-text .h5p-drag-wide-screen .h5p-drag-draggables-container {
  flex-direction: column;
  min-width: fit-content;
  padding-top: 0;
}

.h5p-drag-text [aria-dropeffect].ui-droppable.ui-droppable-disabled.ui-draggable-disabled {
  opacity: 1;
}

/* Use ellipsis for long draggables */
.h5p-drag-text [aria-grabbed].h5p-drag-dropped.truncate {
  text-overflow: ellipsis;
}

.h5p-drag-text .hidden-but-read {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}

.h5p-drag-text .h5p-question-introduction {
  outline: none;
}
